@charset "UTF-8";


:root {
	--header--height: 50px;
	--footer--height: 50px;
	--color--green: #a4d597;
}

.wrapper {
	display: flex;
}

* {	
	/* font-family: serif; */
	font-weight: 400;
	font-style: normal;
}

body,
html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}


header {
	background-color: 	#a4d597;	
}

.btn-green {
	size: 100px;
	border-color: #CDE6C7;
}


::-webkit-scrollbar {
  display: none;
}


#sidebar {
	padding-top: 20px;
	padding-left: 20px;
	background-color: rgb(223, 234, 215);
	width: 250px;
	position: fixed;
	left: -200px;
	height: 100%;
	overflow-y: auto;
	transition: left 0.3s ease;
}
#sidebar.show {
	left: 0;
}

#sidebar ul {
	padding: 0;
	padding-left: 10px;
	margin: 0;
}

#sidebar li {
	list-style: none;
}
#sidebar-toggle {
	position: absolute;
	margin-right: 10px;
	right: 0;
}

.arrow-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.sidebar.show .arrow-icon {
    transform: rotate(180deg);
}

.contents {
	/* margin-top: var(--header--height); */
	--contents--min--height: calc(100% - var(--header--height) - var(--footer--height));
	min-height: var(--contents--min--height);
	display: block;
	margin-top: 18px;
	margin-left: 50px;		
	transition: margin-left 0.3s ease;	
}

.contents.sidebar-show {
	margin-left: 250px;
}


footer {
	height: var(--footer--height);
	line-height: 50px;
	text-align: center;
	margin-top: 50px;
}
