.problem-card {
    border: 1px solid #ccc;
    padding: 20px;     
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 20px;
}

.problemIndex {
    font-size: 28px;
    font-weight: bold;
    /* color: #2792c3; */
}

.question {
	margin-top: 8px;
    font-size: 20px;
}

.choices {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
}

.explanation {
    display: none;
    margin-top: 10px;
}