<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replaceを使用して、 <head>用のフラグメントを読込みます -->

<head th:replace="fragments/head :: head_fragment(title = 'サンプルアプリケーション', scripts = ~{::script}, links = ~{::link})">

	<!-- 当画面で使用するjavascript、cssをフラグメントに渡します -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<script type="text/javascript" th:src="@{/scripts/index.js}"></script>

	<head>
	</head>

<body>
	<div th:replace="fragments/header :: header_fragment"></div>

	<div class="wrapper">
		<div th:replace="fragments/sidebar :: sidebar_fragment"></div>

		<div class="container">
			<div class="contents">
				<h1>カテゴリ（資格名）一覧</h1>
				<form th:action="@{/saveCategory}" method="post" th:object="${category}">
					<p>資格名：<input class="form-control" type="text" th:field="*{name}">
						<button class="btn btn-outline-dark" type="submit">Create</button>
					</p>
				</form>
				<div class="category-table">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<!-- Categoryを反復処理して表示 -->
							<tr th:each="category : ${categories}">
								<td th:text="${category.id}"></td>
								<td th:text="${category.name}"></td>
								<td>
									<form th:action="@{/deleteCategory}" method="post">
										<input type="hidden" name="categoryId" th:value="${category.id}" />
										<button class="btn btn-danger delete-category-btn" type="submit">削除</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>


	<div th:replace="fragments/footer :: footer_fragment"></div>
	
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const deleteButtons = document.querySelectorAll(".delete-category-btn");
			deleteButtons.forEach((button) => {
				button.addEventListener("click", (event) => {
					const confirmDelete = confirm("本当にカテゴリを削除しますか？関連付けられた問題も削除されます。");
					if (!confirmDelete) {
						event.preventDefault();
					}				
				});
			});
		});
	</script>
</body>

</html>