<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replaceを使用して、 <head>用のフラグメントを読込みます -->

<head th:replace="fragments/head :: head_fragment(title = 'サンプルアプリケーション', scripts = ~{::script}, links = ~{::link})">

	<!-- 当画面で使用するjavascript、cssをフラグメントに渡します -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<script type="text/javascript" th:src="@{/scripts/index.js}"></script>
	

</head>

<body>

	<style>
		.problem {
			border: 1px solid #ccc;
			padding: 10px;
			margin-bottom: 10px;
		}

		.problemIndex {
			font-size: 30px;
			font-weight: bold;
		}

		.question {
			font-size: 25px;
		}

		.choices {
			list-style-type: none;
			padding-left: 0;
			font-size: 20px;
		}

		.correct {
			color: green;
			font-weight: bold;
		}

		.incorrect {
			color: red;
			font-weight: bold;
		}

		.explanation {
			display: none;
			margin-top: 10px;
		}
	</style>

	<div th:replace="fragments/header :: header_fragment"></div>

	<div class="contents container">
		<h1 th:text="${category.name} + 'から出題です'"></h1>

		<div th:each="problem, problemStat : ${problemList}" class="problem">
			<div class="problemIndex" th:text="'第' + ${problemStat.index} + '問'"></div>
			<div class="question" th:text="${problem.question}"></div>
			<ul class="mt-3 choices">
				<!-- Loop through the choices and display each one -->
				<li class="mt-1" th:each="choice, choiceStat : ${problem.choices}" th:text="${choiceStat.index} + '. ' + ${choice}"
					th:data-index="${choiceStat.index}"></li>
			</ul>
			<div class="explanation" th:text="${problem.annotation}"></div>
		</div>


	</div>


	<div th:replace="fragments/footer :: footer_fragment"></div>

	<script>
		// JavaScript to handle choice selection
		document.querySelectorAll('.choices li').forEach(item => {
			item.addEventListener('click', event => {
				const selectedChoiceIndex = parseInt(item.getAttribute('data-index'));
				
				const explanation = item.parentElement.nextElementSibling;
				console.log(selectedChoiceIndex);			
				if (selectedChoiceIndex === 0) {
					item.classList.add('correct');					
				} else {
					item.classList.add('incorrect');
				}
				
				explanation.style.display = 'block';

				// Disable further selections
				item.parentElement.querySelectorAll('li').forEach(choice => {
					choice.removeEventListener('click', event);
				});
			});
		});
	</script>
</body>

</html>s