<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replaceを使用して、 <head>用のフラグメントを読込みます -->

<head th:replace="fragments/head :: head_fragment(title = 'サンプルアプリケーション', scripts = ~{::script}, links = ~{::link})">

	<!-- 当画面で使用するjavascript、cssをフラグメントに渡します -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	<script type="text/javascript" th:src="@{/scripts/index.js}"></script>
</head>

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
</head>

<body>

	<div th:replace="fragments/header :: header_fragment"></div>
	<div th:replace="fragments/sidebar :: sidebar_fragment"></div>

	<div class="container">
		<div class="contents">
			<h1 th:text="${category.name} + 'から出題です'"></h1>

			<div th:each="problem, problemStat : ${problemList}" class="problem card">
				<div class="problemIndex primary" th:text="'第' + (${problemStat.index}+1) + '問'"></div>
				<div class="question" th:text="${problem.question}"></div>
				<ul class="mt-3 choices">
					<!-- Loop through the choices and display each one -->
					<li class="mt-1" th:each="choice, choiceStat : ${problem.choices}"
						th:text="(${choiceStat.index}+1) + '. ' + ${choice}" th:data-index="${choiceStat.index}"></li>
				</ul>
				<div class="explanation" th:text="${problem.annotation}"></div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer_fragment"></div>

	<script type="text/javascript" th:src="@{/scripts/test.js}"></script>
</body>

</html>